{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/poste.css') }}">
{% endblock %}

{% block title %}{{ poste.label }}{% endblock %}

{% block body %}
    <h1>{{ poste.label }}</h1>

    <dl>
        <dt>Lieu:</dt>
        <dd>{{ poste.lieu }}</dd>

        <dt>Date de début:</dt>
        <dd>{{ poste.datedeb|date('d/m/Y') }}</dd>

        {% if poste.datefin is not null %}
            <dt>Date de fin:</dt>
            <dd>{{ poste.datefin|date('d/m/Y') }}</dd>
        {% endif %}

        <dt>Description:</dt>
        <dd>{{ poste.description }}</dd>

        <dt>Tag:</dt>
        <dd>{{ poste.tag.nom }}</dd>

        <dt>Entreprise:</dt>
        <dd>{{ poste.entreprise.nom }}</dd>
    </dl>
{% endblock %}
